.spinner-wrapper {
  block-size: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: .5rem solid #f3f3f3;
  border-top: .5rem solid var(--lavender);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

/* Hidden state */
.hidden {
  display: none !important;
}

/* Animation rule for rotation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}